@import "./card.css";

.Dashboard {
    min-width: 10%;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.Dashboard .Title {
    padding-bottom: 100px;
}

.Cards{
    display: inline-flex;
    justify-content: center;
    margin: 0 auto ;
    width:  600px;
    min-width: 50%;
    max-width: 100%;
}

.Back {
    margin: 10px 0px 0px 20px;
}

.Logout{
    margin: 10px 0px 0px 20px;
}